<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springmybatis.da.mapper.InquiryTagMapper">
    <!-- ハンズオン 1-2 resultMapを定義 -->
    <resultMap id="Base_Result_Map" type="com.example.springmybatis.da.entity.InquiryTag">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="inquiry_id" property="inquiryId" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectTagsByInquiryId" parameterType="int" resultMap="Base_Result_Map">
        select id, inquiry_id, description, created
        from inquiry_tag
        where inquiry_id = #{inquiryId}
        ORDER BY #{xxx} #{asde}
    </select>

    <!-- TODO ハンズオン 4-2 resultMapタグを定義 -->
    <resultMap id="View_Result_Map" type="com.example.springmybatis.da.entity.InquiryTagView" extends="Base_Result_Map">
        <!--property-> 継承したいクラス-->
        <association property="inquiry"
                     javaType="com.example.springmybatis.da.entity.Inquiry"
                     select="com.example.springmybatis.da.mapper.InquiryMapper.find"
                     column="inquiry_id" />
    </resultMap>


    <!-- TODO ハンズオン 4-6 resultMapタグを定義 -->
    <resultMap id="View2_Result_Map" type="com.example.springmybatis.da.entity.InquiryTagView" extends="Base_Result_Map">
        <association property="inquiry"
                     resultMap="com.example.springmybatis.da.mapper.InquiryMapper.Base_Result_Map"
                     columnPrefix="i_" />
    </resultMap>


    <!-- ハンズオン 1-3 selectを定義 -->
    <select id="find" parameterType="int" resultMap="Base_Result_Map">
        select
            id, inquiry_id, description, created
        from
            inquiry_tag
        where
            id = #{id}
    </select>


    <!-- ハンズオン 2-2 selectタグを定義 -->
    <select id="select" parameterType="com.example.springmybatis.da.query.InquiryTagSelectQuery" resultMap="Base_Result_Map">
        SELECT
            id, inquiry_id, description, created
        FROM
            inquiry_tag
        <where>
            <!--「test」は真の場合のみ出力するという意味-->
            <if test="inquiryIds != null and !inquiryIds.isEmpty()">
                and inquiry_id in
                <foreach item="inquiryId" collection="inquiryIds" open="(" separator="," close=")">
                    #{inquiryId}
                </foreach>
            </if>
            <if test="description != null and !description.isEmpty()">
                and description like #{description}
            </if>
            <!--「&gt;」は大なり（>）、「&lt;」は小なり（<）-->
            <if test="fromCreated != null and !fromCreated.isEmpty()">
                and created &gt; = #{fromCreated}
            </if>
            <if test="toCreated != null and !toCreated.isEmpty()">
                and created &lt; = #{toCreated}
            </if>
        </where>
        <trim prefix="ORDER BY">${orderBy}</trim>
    </select>


    <!-- TODO ハンズオン 3-2-1 insertタグを定義 -->
    <insert id="insert" parameterType="com.example.springmybatis.da.entity.InquiryTag" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO inquiry_tag(inquiry_id, description, created)
        VALUES (#{inquiryId}, #{description}, #{created})
    </insert>


    <!-- TODO ハンズオン 3-2-2 updateタグを定義 -->
    <!--更新のため、keyPropertyの記載は不要。setタグで記載（最後のカンマ「,」を自動で消してくれる）-->
    <update id="update" parameterType="com.example.springmybatis.da.entity.InquiryTag">
        UPDATE inquiry_tag
        <set>
            inquiry_id = #{inquiryId},
            description = #{description},
            created = #{created},
        </set>
        WHERE
            id = #{id}
    </update>


    <!-- TODO ハンズオン 3-2-3 deleteタグを定義 -->
    <delete id="delete" parameterType="int">
        delete from inquiry_tag
        WHERE id = #{id}
    </delete>


    <!-- TODO ハンズオン 4-3 selectタグを定義 -->
    <select id="findView" parameterType="int" resultMap="View_Result_Map">
        SELECT
            id, inquiry_id, description, created
        FROM
            inquiry_tag
        WHERE
            id = #{id}
    </select>


    <!-- TODO ハンズオン 4-7 selectタグを定義 -->
    <select id="findView2" parameterType="int" resultMap="View2_Result_Map">
        SELECT
        t.id, t.inquiry_id, t.description, t.created,
        i.id AS i_id, i.user_id AS i_userID, i.contents AS i_contents, i.invalid AS i_invalid, i.created AS i_created
        FROM
        inquiry_tag t
        INNER JOIN
        inquiry i ON t.inquiry_id = i.id
        WHERE
        t.id = #{id}
    </select>

</mapper>
